*{
    padding: 0;
    margin: 0;
    font-family:Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* *Box 1* */
.nav-logo{
    height: 50px;
    width: 100px;
    border: 2px solid transparent;
}
.nav-logo:hover{
    border: 1px solid white;
}
.logo{
    background-image: url('amzn_logo.png');
    height: 54px;
    width: 155px;
    background-size: cover;
    margin-left: -26px;
    margin-top: -7px;
}


/* *Box 2* */
.add_first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add_second{
    font-size: 1rem;
    margin-left: 3px;
}
.add_icon{
    display: flex;
    align-items: center;
}
.nav_address{
    border: 2px solid transparent;
}
.nav_address:hover{
    border: 1px solid white;
}

/* * Box 3 * */
.nav_search{
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    
}
.nav_search:hover{
    border: 2px solid orange;
}
.search_select{
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50px;
    border: none;
}
.search_input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* * Box 4 * */
span{
    font-size: 0.7rem;
}
.nav_second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav_signin{
    border: 2px solid transparent;
}
.nav_signin:hover{
    border: 1px solid white;
}

/* *Box 5* */
.nav_return{
    border: 2px solid transparent;
}
.nav_return:hover{
    border: 1px solid white;
}

/* *Box 6* */
.nav_cart i{
    font-size: 30px;
}
.nav_cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav_cart{
    border: 2px solid transparent;
}
.nav_cart:hover{
    border: 1px solid white;
}


/* ***Panel*** */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}
.panel_all:hover{
    border: 1px solid white;
}
.panel_options p{
    display: inline;
    margin-left: 15px;
}
.panel_options p:hover{
    border: 1px solid white;
}
.panel_options{
    width: 70%;
    font-size: 0.85rem;
}
.panel_deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.panel_deals:hover{
    border: 1px solid white;
}

/* *** Hero Section *** */

.hero_section{
    background-image: url('hero_img.jpg');
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero_msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.87rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero_msg a{
    text-decoration: none;
    color: #007185
}

/* *** Shop Section *** */
.shop_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    
}
.box_img{
    height:300px;
    margin:1rem 0rem 1rem 0rem;
}
.box_content{
    margin: 0rem 1rem 0rem 1rem;
    /* margin-left: 1rem;
    margin-right: 1rem; */
}
.box_content p{
    color: #007185; 
}

/* *** Footer *** */
footer{
    margin-top: 5px;
}
.foot_panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot_panel2{
    color: white;
    background-color: #222f3d;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
.foot_panel2 a{
    text-decoration: none;
    color: #dddddd;
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
}
.foot_panel3{
    height: 70px;
    background-color: #222f3d;
    border-top: 0.3px solid white;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.logo1{
    background-image: url('amzn_logo.png');
    height: 54px;
    width: 155px;
    background-size: cover;
    
}
.foot_panel4{
    background-color: #131A22;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    height: 80px;
    color: #dddddd;
    font-size: 0.8rem;
    text-align: center;
}
.foot_panel4 a{
    text-decoration: none;
    color: #dddddd; 
    margin-left: 15px;
}
.pages{
    padding-top: 25px;
    
}
.copyright{
    padding-top: 5px;
}